/* Mặc định cho màn hình nhỏ: 1rem = 12px */
* {
  font-size: 12px;
  font-family: Karla;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Form Section */
#form-section {
  padding: 5rem 10% 5rem 10%;
  display: flex;
  justify-content: center;
}

#form-section>div {
  margin-bottom: 2rem;
}

#form-section label {
  color: #132c3c;
  font-weight: bold;
}

#form-section input {
  border-color: #132c3c;
}

#form-section div.col-12 {
  position: relative;
}

#form-section i.togglePassword {
  position: absolute;
  font-size: 1.2rem;
  cursor: pointer;
  right: 2.5rem;
  top: 2.5rem;
  color: transparent;
}

/* Ẩn biểu tượng con mắt khi mật khẩu được hiển thị */
input[type="text"] ~ .fa-eye {
  display: none;
}

/* Ẩn biểu tượng con mắt khi mật khẩu đã được ẩn */
input[type="password"] ~ .fa-eye-slash {
  display: none;
}

#btn-submit-form {
  background-color: #132c3c;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
}

#btn-submit-form:hover {
  background-color: #ae935c;
}

/* Màn hình trung bình: 1rem = 14px */
@media screen and (min-width: 576px) {
  * {
    font-size: 14px;
  }
}

/* Màn hình lớn: 1rem = 16px */
@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
}